:root {
  --clr-50: hsl(210, 20%, 98%);
  --clr-100: hsl(220, 14%, 96%);
  --clr-200: hsl(220, 13%, 91%);
  --clr-300: hsl(216, 12%, 84%);
  --clr-400: hsl(218, 11%, 65%);
  --clr-500: hsl(220, 9%, 46%);
  --clr-600: hsl(215, 14%, 34%);
  --clr-700: hsl(217, 19%, 27%);
  --clr-800: hsl(215, 28%, 17%);
  --clr-900: hsl(221, 39%, 11%);

  --ff-primary: "Inter", -apple-system, BlinkMacSystemFont, avenir next, avenir,
    segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 700;

  --fs-200: 0.5rem;
  --fs-300: 0.75rem;
  --fs-350: 0.875rem;
  --fs-400: 1rem;
  --fs-450: 1.15rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-650: 1.6rem;
  --fs-700: 1.75rem;
  --fs-800: 2rem;
  --fs-900: 2.25rem;
  --fs-1000: 2.5rem;
  --fs-1100: 2.75rem;
  --fs-1200: 3rem;
  --fs-1600: 4rem;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-VariableFont_slnt\,wght.ttf") format("truetype");
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: var(--ff-body);
  background-color: var(--clr-900);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  box-shadow: inset 0 0 400px rgba(28, 28, 28, 0.86);
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 88vh;
  max-height: 88vh;
  width: 90vw;
  max-width: 90vw;
  background: hsla(0, 1%, 25%, 0.185);
  border: 1px solid rgba(85, 85, 87, 0.252);
  border-radius: 16px;
  box-shadow: 0 4px 30px 2px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  overflow: hidden;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 80vh;
  max-width: 82vw;
  font-size: var(--fs-500);
}

.search-results-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  margin-top: 2em;
  margin-bottom: 1.2em;
  color: var(--clr-200);
}

.unit-switcher {
  cursor: pointer;
  padding: 0.4em 0.6em;
  font-size: var(--fs-400);
  color: var(--clr-300);
  background: hsla(0, 1%, 18%, 0.185);
  border: 1px solid hsla(270, 1%, 38%, 0.105);
  border-radius: 6px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.unit-switcher:hover {
  color: var(--clr-200);
  background: hsla(0, 1%, 18%, 0.285);
  border-color: hsla(210, 20%, 98%, 0.224);
}

.search-bar-container {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 1ch;
  border-radius: 6px;
  font-size: var(--fs-450);
  background: hsla(240, 3%, 6%, 0.215);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.search-bar-container:focus-within {
  box-shadow: 0 0 3px 0 var(--clr-700);
}

.search-input {
  color: var(--clr-200);
  border: none;
  background: transparent;
}

.search-input:focus {
  outline: none;
}

.search-input::placeholder {
  font-weight: var(--fw-light);
  color: var(--clr-300);
}

.search-button {
  text-indent: -999px;
  overflow: hidden;
  width: 40px;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-radius: inherit;
  background: transparent
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z' fill='whitesmoke'%3E%3C/path%3E%3C/svg%3E ")
    no-repeat center;
  cursor: pointer;
  opacity: 0.7;
}

.search-button:hover {
  opacity: 1;
}

.search-button:focus {
  box-shadow: 0 0 3px 0 var(--clr-700);
  border-color: var(--clr-700);
  outline: none;
}

.search-error {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--clr-200);
  font-size: var(--fs-300);
  max-width: 70%;
  margin-top: 1em;
  margin-bottom: -2em;
}

.main-wrapper {
  padding: 4vh;
  background: hsla(221, 39%, 6%, 0.384);
  border-radius: 6px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(133, 133, 135, 0.252);
  font-size: var(--fs-600);
  font-weight: var(--fw-bold);
}

.first-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
}

.second-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather-temperature {
  margin-top: 6px;
  margin-bottom: -10px;
}

.secondary-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description-and-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1px;
}

@media only screen and (max-width: 600px) {
  .search-results-container {
    flex-direction: column;
    gap: 1em;
  }
}
